.tab{
    display: flex;
    flex-direction: column;
	&_vertical{
      flex-direction: row;
    }
	&__nav {
		display: flex;
		flex-direction: row;
		&_vertical{
		  flex-direction: column;		 
		}    
	} 
	&__nav-item{
		flex-grow: 1;
	} 
	&__nav-item.active .tab__nav-link {
		background-color: $color-active-tab;
	} 
	&__nav-link {
		display: block;
		cursor: pointer;
		padding: 24px 32px;
		font-size: $tab-title-font-size;
		line-height: $tab-title-font-height;
		font-weight: $tab-title-font-weight;
		color: $color-text;
		font-family: $title-font;
		background-color: $color-main;	
		text-align: center;
		transition: $transition;
		@media screen and (max-width : 576px) {
			font-size: 18px;
			line-height: 24px;
			padding: 9px 34px;
		}
	}
	&__body {
		background-color: $color-main; 
		flex-grow: 1;   
	}
	&__pane {
		display: none;
	}
	&__pane.active {
		display: block;
	}
}//tab

  
  
  
  
 