/*-- TIMELIST --*/
.timelist{	
	font-size: $text-font-size;
    color: $color-text-dark;
    line-height: $text-line-height;
    font-weight: 400;
    font-family: $text-font;
	@media screen and (max-width : 576px) {
		font-size: 16px;
		line-height: 22px;
	}
	&__item{
		display: flex;
		flex-direction: row;
		padding: 0px;
		&:not(:last-child){
			border-bottom: 2px solid $color-section-bg;
			@media screen and (max-width : 576px) {
				border-color: $color-border;
			}
		}		
		&:first-child{
			border-top: 2px solid $color-section-bg;
			@media screen and (max-width : 576px) {
				border-color: $color-border;
				
			}
		}
		@media screen and (max-width : 576px) {
			flex-direction: column;
			padding: 16px;
		}
	}
	&__time{
		padding: 16px 24px;
		flex-grow: 0;
		width: 180px;
		font-weight: 500;
		color: $color-text-light;
		@media screen and (max-width : 576px) {
			padding: 0;
		}
	
	}
	&__description{
		padding: 16px 24px;
		@media screen and (max-width : 576px) {
			padding: 0;
		}
	}	
}
/*-- /TIMELIST --*/

