:root {
	
	--main: #fff;
	--text-light: #6C6057;	
	--text: #443D37;
	--text-dark: #251F1B;
	--color-section-bg: #9ABAB4;
	--color-section-bg-hover: #6b807c;
	--color-section-arrow-bg: #6C6057;
	--color-active-tab: #F6E2A8;
	--border-color: #EDE6DC;

	--title-font: 'Montserrat', sans-serif;
	--text-font: 'Open Sans', sans-serif;

	--text-font-size: 20px;
	--text-line-height: 28px;
	
	--section-title-font-size: 24px;
	--section-title-font-height: 31px;
	--section-title-font-weight: 900;

	--tab-title-font-size: 22px;
	--tab-title-font-height: 29px;
	--tab-title-font-weight: 700;

	--transition: 0.3s;
}